@using Application.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> signInManager
@inject UserManager<UserModel> userManager

@if (signInManager.IsSignedIn(User))
{
    <li>
        <span class="dropdown-item-text">@Localizer["Hello"], @userManager.GetUserName(User)!</span>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
        <form asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item p-0">
            <button type="submit" class="btn btn-link dropdown-item">
                <i class="bi bi-box-arrow-right"></i> @Localizer["Logout"]
            </button>
        </form>
    </li>
}
else
{
    <li>
        <a class="dropdown-item" asp-controller="Account" asp-action="Login">
            <i class="bi bi-person"></i> @Localizer["Login"]
        </a>
    </li>
    <li>
        <a class="dropdown-item" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> @Localizer["Register"]
        </a>
    </li>
}