@using Application.Models;
@using Application.Models.Account
@model RegisterViewModel;

@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<form style="max-width: 300px; margin:auto; margin-top: 50px" asp-action="Register" method="post">
    <h2 class="text-center">Create a new account</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" placeholder="Name" />
        <label asp-for="Name" class="form-label">@Localizer["Name"]</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <label asp-for="Email" class="form-label">@Localizer["Email"]</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
        <label asp-for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button class="w-100 btn btn-lg btn-primary mb-3">@Localizer["Register"]</button>
    </div>
    <p class="text-center">
        @Localizer["Have an account?"] <a asp-controller="Account" asp-action="Login" class="text-decoration-none">@Localizer["Log in"]</a>
    </p>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
}