@using Application.Models;
@model List<(UserModel user, IList<string> role)>
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container mt-5">
    <form method="post">
        <div class="mb-3">
            <button class="btn btn-primary me-2" asp-controller="Admin" asp-action="BlockUser">
                <i class="bi bi-lock-fill"></i> @Localizer["Block"]
            </button>
            <button class="btn btn-primary me-2" asp-controller="Admin" asp-action="UnblockUser">
                <i class="bi bi-unlock-fill"></i> @Localizer["Unblock"]
            </button>
            <button class="btn btn-danger me-2" asp-controller="Admin" asp-action="AddAdmin">
                <i class="bi bi-plus"></i> @Localizer["Add to admin"]
            </button>
            <button class="btn btn-danger" asp-controller="Admin" asp-action="RemoveAdmin">
                <i class="bi bi-trash"></i> @Localizer["Delete from admin"]
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <input class="form-check-input" type="checkbox" id="selectAll" />
                        </th>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Email"]</th>
                        <th>@Localizer["Role"]</th>
                        <th>@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model)
                    {
                        <tr>
                            <td>
                                <input class="form-check-input row-checkbox" type="checkbox" name="selected" value="@entry.user.Email" />
                            </td>
                            <th>@entry.user.FullName</th>
                            <th>@entry.user.Email</th>
                            <th>@string.Join(", ", entry.role)</th>
                            @if (!entry.user.IsBlocked)
                            {
                                <th>Unbloked</th>
                            }
                            @if (entry.user.IsBlocked)
                            {
                                <th>Blocked</th>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.getElementById('selectAll');
        const rowCheckboxes = document.querySelectorAll('.row-checkbox');

        selectAllCheckbox.addEventListener('change', function () {
            rowCheckboxes.forEach(cb => cb.checked = selectAllCheckbox.checked);
        });
    });
</script>
